{% extends "base.html" %}

{% block title %}article contents{% endblock %}


{% block content %}
<div class="row text-center">
     <h1>{{ article.title }}</h1>
</div>
     <div class="row">

        <div class="col-xl-12 col-md-8">
            <p class="text-left">
                <span style="margin-left: 5px;color: cornflowerblue;font-size: 13px;" >{{ publish }}</span>
                <span style="margin-left: 3px;font-size: 13px">/</span>
                <span style="color: cornflowerblue;font-size: 13px">{{ article.author.username }}</span>
            </p>
            <div>{{ article.body }}</div>
        </div>
    </div>

{% endblock %}