{% load staticfiles %}

<div class="container">
    <nav class="navbar navbar-light" role="navigation">
        <div class="navbar-header">
            <a class="navbar-brand" href="http://www.caonima.com">
                <img src="{% static '/img/Group.png' %}" width="150px">
            </a>
        </div>
        <div>
            <ul class="nav navbar-nav" role="navigation">
                <li>
                    <a href="{% url 'him:blog_title' %}">BLOG</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                <li><a href="#">{{ user.username }}</a></li>
                <li><a href="{% url 'account:user_logout' %}">LOGOUT</a> </li>
                {% else %}
                <li><a href="{% url 'account:user_login' %}">LOGIN</a></li>
                    <li><a href="{% url 'account:user_register' %}">Register</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>



</div>