<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title class="h1">bootstap</title>
    <link rel="stylesheet" href="../../static/css/bootstrap.min.css">
</head>
<body style="margin: 50px" class="table-responsive">




    <p class="lead">bootstap framework</p>
    <p>bootstap framework</p>
    <p>bootstap framework</p>
    <p>bootstap framework</p>
    <p>bootstap framework</p>

    <h1>bootstap h1</h1>
    <h2>bootstap h2</h2>
    <h3>bootstap h3</h3>
    <h4>bootstap h3</h4>
    <h5>bootstap h3</h5>
    <h6>bootstap h3</h6>


    <del>bootstap del</del>
    <s>bootstap s</s>
    <ins>bootstap ins</ins>
    <u>bootstap u</u>
    <h1>bootstap <mark>mark</mark></h1>


    bootstap: <small>bootstap small</small><br>
    bootstap: <strong>bootstap strong</strong><br>
    bootstap: <em>bootstap em</em><br>


    <p class="text-left">bootstap left align</p>
    <p class="text-center">bootstap center align</p>
    <p class="text-right">bootstap right align</p>



    <p class="text-nowrap" style="border:1px solid red; width: 50px">bootstap 框架</p>


    <h1><abbr class="initialism">bootstap</abbr>框架</h1>


    <address>
        <strong>twitter,inc.</strong><br>
        <abbr title="phone">p:</abbr>(123)456-789
    </address>



    <blockquote>
        bootstap blockquote
    </blockquote>

     <blockquote class="blockquote-reverse">
        bootstap blockquote
    </blockquote>

{#列表排版#}

    <ul class="list-unstyled">
        <li>bootstap</li>
        <li>bootstap</li>
        <li>bootstap</li>
        <li>bootstap</li>
        <li>bootstap</li>
    </ul>
{#有时候设成导航的时候需要内联既一行,列表设置成内联#}
     <ul class="list-inline">
        <li>bootstap</li>
        <li>bootstap</li>
        <li>bootstap</li>
        <li>bootstap</li>
        <li>bootstap</li>
    </ul>

{#水平排列描述列表#}

    <dl>
        <dt>bootstap</dt>
        <dd>bootstap 提供了一些常用的样式给开发者使用</dd>
    </dl>


    <dl class="dl-horizontal">
        <dt>bootstap</dt>
        <dd>bootstap 提供了一些常用的样式给开发者使用</dd>
    </dl>

{#code#}<br>

    <code>&ltsection&gt</code><br>



{#kbd#}<br>

    press <kbd>ctrl+.</kbd><br>



{#    pre#}<br>


    <pre>
        please input alsdjflaksdjfl...........
        alsdjflasdkfjalsdfajsdlfkajsd
    </pre>


{#    table #}<br>
{#    <table class="table table-bordered">#}
    <table class="table table-hover">
        <thead>
            <tr>
                <th>编号</th>
                <th>姓名</th>
                <th>性别</th>
                <th>年龄</th>
            </tr>
        </thead>
        <tbody>

            <tr class="alert-success">
                <td>1</td>
                <td>张三</td>
                <td>男</td>
                <td>50</td>
            </tr>

{#        隐藏行    <tr class="sr-only">#}
            <tr>
                <td>2</td>
                <td>李四</td>
                <td>男</td>
                <td>50</td>
            </tr>
            <tr>
                <td>3</td>
                <td>王五</td>
                <td>男</td>
                <td>50</td>
            </tr>
            <tr>
                <td>4</td>
                <td>马六</td>
                <td>男</td>
                <td>50</td>
            </tr>
            <tr>
                <td>1</td>
                <td>张三</td>
                <td>男</td>
                <td>50</td>
            </tr>
        </tbody>

    </table>



{#    btn #}

    <button class="btn btn-success btn-lg">button</button>
    <button class="btn btn-success btn-sm">button</button>
    <button class="btn btn-success btn-xs">button</button>
    <button class="btn btn-success">button</button>


    <script src="../../static/js/bootstrap.min.js"></script>
    <script src="../../static/js/jquery-3.3.1.min.js"></script>
</body>
</html>