<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>form</title>
    <title class="h1">bootstap</title>
    <link rel="stylesheet" href="../../static/css/bootstrap.min.css">
</head>
<body style="margin: 50px;">


    <form class="form-inline">
        <div class="form-group">
            <label>email:</label>
            <input type="email" class="form-control" placeholder="please input your email">
        </div>






        <div class="form-group has-success has-feedback">
            <label class="control-label">password:</label>
            <input type="password" class="form-control" placeholder="please input your password">
            <span class="glyphicon glyphicon-ok form-control-feedback"></span>
        </div>







        <div class="input-group">
            <div class="input-group-addon">$</div>
            <input type="text" class="form-control" placeholder="please input price">
            <div class="input-group-addon">.00</div>

        </div>

    </form>
<br>
    <form class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-2 control-label">email:</label>
            <div class="col-sm-10">
                 <input type="email" class="form-control" placeholder="please input your email">
            </div>

        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">password:</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" placeholder="please input your password">
            </div>

        </div>

        <div class="input-group">
            <div class="input-group-addon">$</div>
                <input type="text" class="form-control" placeholder="please input price">
            <div class="input-group-addon">.00</div>

        </div>

        <div class="checkbox">
            <label>
                <input type="checkbox">sport
            </label>

        </div>

        <div class="checkbox disabled">
             <label>
                <input type="checkbox" disabled>swimming
            </label>
        </div>




        <label class="checkbox-inline disabled">
            <input type="checkbox" disabled>music
        </label>
        <label class="checkbox-inline">
            <input type="checkbox">sport
        </label>




        <select class="form-control">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
        </select>


    </form>


    <script src="../../static/js/bootstrap.min.js"></script>
    <script src="../../static/js/jquery-3.3.1.min.js"></script>
</body>
</html>